<nav>
  <ul>
    <li><%= link_to "Inicio", root_path %></li>
    <li><%= link_to "Ventas", documents_path %></li>
    <li><%= link_to "Compras", "#" %></li>
    <li><%= link_to "Caja", "#" %></li>
    <li><%= link_to "Inventario", "#" %></li>
    <li><%= link_to "Clientes", "#" %></li>
  </ul>
</nav>

<h1>Página de Inicio</h1>
<p>Bienvenido al sistema de gestión de repuestos.</p>
